<section class="bg-gray-50 py-20">
  <div class="container mx-auto text-center mb-8">
    <h2 class="text-4xl font-sans font-bold text-gray-800">¿Cómo funciona? Elige tu plato favorito.</h2>
  </div>

  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-6 px-20">
    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center border-2 border-black">
      <div class="w-20 h-20 mb-4">
        <img
          src="https://s3-alpha-sig.figma.com/img/a5b3/bbdd/8f1a1765a15d478943ad22f1db92144d?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fwHysM3434ql7WyhgcQ6cJ7Clcco3oxH8uLjJ95SVKfZRte5ejeJSaHhrbaoacQhOJPr9eQpKVPAipiyPbVJ6y3hEMa6FCwp~5t25furNjFTsP~jjZC80rWMQaspHRVIXwMVmYQemwhij7Sh0s-oO0zEyx9eWr5Ahrn3v2yqQyAm8LC3dVS-mjL7M3zFDTVRpbosSpu216xNu-FgHWven4-tNOvN-81GCBewPP4VjwaXU5yQuaY~GQZDAEJMs8z5r49UTmyE0QCESxSTFhrc65CArsrTsPhI6QV-EEbtQtE79EhehlAtHSQiUdS-Ouyl4gy3VNaEV0Ttj2JGAQ5nSQ__"
          alt="Plato"
          class="w-full h-full object-cover rounded-full"
        />
      </div>
      <p class="text-gray-600 text-sm text-center">
        Ofrecemos platos que combinan tradición y modernidad, diseñados para deleitar tu paladar.
      </p>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center border-2 border-black">
      <div class="w-20 h-20 mb-4">
        <img
          src="https://s3-alpha-sig.figma.com/img/a5b3/bbdd/8f1a1765a15d478943ad22f1db92144d?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fwHysM3434ql7WyhgcQ6cJ7Clcco3oxH8uLjJ95SVKfZRte5ejeJSaHhrbaoacQhOJPr9eQpKVPAipiyPbVJ6y3hEMa6FCwp~5t25furNjFTsP~jjZC80rWMQaspHRVIXwMVmYQemwhij7Sh0s-oO0zEyx9eWr5Ahrn3v2yqQyAm8LC3dVS-mjL7M3zFDTVRpbosSpu216xNu-FgHWven4-tNOvN-81GCBewPP4VjwaXU5yQuaY~GQZDAEJMs8z5r49UTmyE0QCESxSTFhrc65CArsrTsPhI6QV-EEbtQtE79EhehlAtHSQiUdS-Ouyl4gy3VNaEV0Ttj2JGAQ5nSQ__"
          alt="Plato"
          class="w-full h-full object-cover rounded-full"
        />
      </div>
      <p class="text-gray-600 text-sm text-center">
        Disfruta de un ambiente acogedor mientras degustas nuestros sabrosos platos.
      </p>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center border-2 border-black">
      <div class="w-20 h-20 mb-4">
        <img
          src="https://s3-alpha-sig.figma.com/img/3374/07b0/05e88df3ddf29341dd2626f0582cd369?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CtR4Axw3VaBZf-0ZutipY-~-jnSeLsYBDDA2~UCx6tXWg6F0MtMsqYQmIe17bkFsYtWHUdS1VWCrtdJph-7nmrt1IVKRbzhK62C0FvJ9pRxbtD5SCfe04c0t1udvVSgpBCojh63~Xy1-hoIVZowsZfZqLUKq04e9Dl1iNhjBRmPqWF8Ll1oIaurTUenoOVcCx3GrudvlMVxhr5LXbg0YkMYpnzxap8zL2fn7eO3KJIOuIP15jtDenk4L8x2X0Jj-9NkN8wCYUVsK~N486sKPaqF-VIEw5ikr5PNr1JmkV8AFR2grL96gxXxyisOu5OinVUFAx3frva~nCPdFexhtRg__"
          alt="Plato"
          class="w-full h-full object-cover rounded-full"
        />
      </div>
      <p class="text-gray-600 text-sm text-center">
        La excelencia de la cocina peruana se refleja en nuestros platos.      </p>
    </div>
  </div>
</section>
