<section class="relative h-[500px]">
  <div class="custom-form absolute inset-0 bg-cover bg-center z-0">
  </div>

  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-start relative z-10 py-16 px-4">
    <div class="flex justify-center">
      <img
        src="https://s3-alpha-sig.figma.com/img/2081/e23a/a575d195091b6ecac1f3383cea99436a?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GCJDSXpgTOvfMHxk1cQ9WZIloivuAsqkok9SstoC~3Omt9aSXAmSbnsk9CnAu5yhGd9Kw7EX2F6wOmLwhf9H0SYXQlWMBldjbuOqMf43uxE9~eGCfYjYvy0Hi1CSgpMt0bBm3siLRB4MXKHly2QUfsKR1ApK6yBp2mpfSJEljJCikMUd3KDXnzxdRKpZTRgqlcLv3G2faZ0wVHPMo2X7jfHh-uLP-h7d0-9FWLGK0P2mLaOxutVZOpGXwWaTxhhp5G~woGQgh3OnWKsViRfn-~MawWJPrjAtAj~~AfUL69aqVfQxWtbKY90gQo15YO9LFzHaSNLmNuB5jDuVKl6-uw__"
        alt="Reserva"
        class="rounded-lg shadow-lg w-full max-w-md"
      />
    </div>

    <div class="text-center md:text-left flex flex-col justify-center items-center md:items-start">
      <h2 class="text-4xl sm:text-5xl font-bold text-white mb-4 mt-10">Reserva hoy mismo.</h2>
      <p class="text-white mb-6 leading-relaxed text-lg">
        Disfruta de una mezcla de sabores peruanos en cada bocado.
      </p>
      <button class="bg-transparent border-2 border-yellow-500 text-yellow-500 font-semibold py-2 px-6 rounded-[48px] hover:bg-yellow-500 hover:text-white transition duration-300">
        Reservar
      </button>
    </div>
  </div>
</section>
