<section class="bg-[#6D0101] py-20">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center px-4 md:px-20">
    <div>
      <h2 class="text-3xl md:text-5xl font-bold text-white mb-4">Una experiencia única</h2>
      <p class="text-white text-base md:text-lg leading-relaxed">
        En nuestro restaurante, ofrecemos una experiencia culinaria única con los mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un ambiente acogedor mientras saboreas nuestras especialidades.
      </p>
    </div>

    <div class="flex justify-center">
      <img
        src="https://s3-alpha-sig.figma.com/img/5ccb/8c0f/ac4a37f09ef814c90b83d9130e37a0ae?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HC3iGbVziB19fw3dANv3YLGuoiS41PtdDEN91bzgrin5gPIZ65DZQPl31YOWnYbE51qYLXzUV7IUVgRZJwaMASk~Yf41k0fWWIpeCAKK9BjYxzuGb45dV6F9PhvP9kG9ENIxBTCC1YkANMYHFvfjAc5FRlmNdn3MGNLybaW56RGdjrYo9hzSZTryOZQBSgWkd7Dbf1X4t9bc0iJwqCxiRR4jePZsbCALg4CD2QLsljtc0E~3OSg5nHry22zwnZyAHzPqP3q57GB2jW519S8u8s0C6T0jQrzrgpqv6R0x72DGfUqgEgZtKwy0hL4mP5QU37y4a~-7pfj3sKAkL6U9pg__"
        alt="Restaurante"
        class="rounded-[48px] shadow-lg w-full md:w-2/3"
      />
    </div>
  </div>
</section>
