<section class="bg-[#001405] py-20">
  <div class="container grid grid-cols-1 md:grid-cols-2 gap-6 px-20">
    <!-- Columna de texto -->
    <div>
      <h2 class="text-5xl font-bold text-white mb-4 mt-10">Plato de la temporada</h2>
      <p class="text-white leading-relaxed text-lg">
        Descubre el sabor auténtico de Perú con nuestro anticucho de temporada. Este plato, lleno de tradición,
        combina tiernos trozos de corazón de res marinados en especias, servidos con una salsa de ají y acompañados
        de papas doradas. Una experiencia culinaria que te transportará a las calles de Lima.
      </p>
    </div>

    <!-- Columna de imagen -->
    <div>
      <img
        src="https://s3-alpha-sig.figma.com/img/ef39/1502/613e64b8ef3d586789900243ab4bd045?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nUwmloTQkS9TQfYmTSHx1lTO9j10APnOBhf4XxwdrXnKqZ2lo2Ow4yMbEq~F~9d5JYoxpTOzPqIwqoknJOaCQ6m39DOiJubGBIO-yfwVWad62x234V1rB86EKqtM4-ksKUx1xBDlycApvViCYsnsp926WuiXsSmExQ4PFUKsf7yen7Z~GLMQ3u~hB1YlGZlHpgxh5CxIOtxNu-~P4LEaemXoPGQt3ORsqiKii8Y9TelX3E5UpO4d~2bkrcZxWBIvLPmm0zdjapcSf6QMahyPWCCIppjcRMBVvn4gKpqhGyFZX~Nsar~FtIR2NaZWn-AdRqNGnUHavoGGIAQzr5NvMw__"
        alt="Anticucho de temporada"
        class="rounded-[42px] shadow-lg w-full"
      />
    </div>
  </div>
</section>
