<main>
  <section class="relative w-full">
    <div class="custom-form w-full">
    </div>

    <div class="absolute top-0 left-0 w-full mx-auto flex flex-col md:flex-row items-center justify-between pt-10 space-y-6 md:space-y-0 md:space-x-10 z-10">
      <div class="text-white w-full md:w-1/2 text-center md:text-left px-5 md:ml-16">
        <h1 class="text-[32px] md:text-[42px] font-bold mb-4">
          Haz crecer tu amor por la comida peruana.
        </h1>
        <p class="text-lg mb-6 text-white" >
          Sumérgete en la cultura peruana a través de nuestra deliciosa comida.
        </p>
        <button class="bg-transparent border-2  border-yellow-500 text-yellow-500 font-semibold py-2 px-6 rounded-[48px] hover:bg-yellow-500 hover:text-white transition duration-300">
          Nuestra nueva carta.        </button>
      </div>

      <div class="w-full md:w-1/2 mt-5 px-5 md:mr-16">
        <img 
          src="https://s3-alpha-sig.figma.com/img/0374/e462/3ee657554c7ae219a4520251f20c56c9?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AoOZOXNPc7V5tzhUhMQFKWo6ZAmaTYq3BzYRbko5ktjnfJQT8P4wEVYhTFLgRPcpHbPLR8Y1mgD1wxcowDx0LLTJ5vFruxMtO4ir9M0ZlL9yd79x9u0TEz9i~tNFQDQfuwto5MjTibP8vpskNaOLW9FidnosjEv~urEVFOknP5wcsdvkNK0jkrwr4xuTTEWsveBQPZTwHpFP9-lzS2HlbRHD54YgH2fClCm7Tpqo4ob~YogGf58KG~qMJdQx7J7E8wFJed0WUKrdsYqGeBX67pdcw9amz2duJIYXu4PVwcmaOl8xtGD5JCSn4kPdAriWwFsk3GWu9O3atz-ZT3K5Qw__" 
          alt="Comida peruana" 
          class="rounded-[45px] shadow-lg w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg mx-auto">
      </div>
    </div>
  </section>
</main>
